.contenedor {
background-color: saddlebrown;
width: 100%;
height: 100%;
}
main {
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 1fr 3fr;

}
footer{
  background-color: blue;
}