.contendor-products {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    padding: 0.5rem 2rem;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.14);
    
  }
  .product{
    display: grid;
    grid-template-columns: 1fr 2fr 2.5fr 5fr .8fr ;
    border: .3rem solid rgba(0, 0, 0, 0.084);
    border-radius: 1.5rem;

  }
  .product div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .1rem solid rgba(0, 0, 0, 0.14);
  }
  .product div:last-child{
    border-right:none;
    border-left: .1rem solid rgba(0, 0, 0, 0.14);
  }

  .scroll-bar{
    border: .1rem solid rgba(0, 0, 0, 0.14);
    border-radius: 1.5rem;
  }
  .progress-bar {
    /* Estilos para la barra de progreso */
    height: 4rem;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 20px;
  }
  