.ModalForm {
    background-color: rgba(255, 255, 255, 0.75);
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.OrdenesForm {
    background-color: white;
    border: .2rem solid black;
    border-radius: 2rem;
    text-align: center;
}
.ModalForm2{
    background-color: rgba(255, 255, 255, 0.75);
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.OrdenesForm2 {
    background-color: white;
    border: .2rem solid black;
    border-radius: 2rem;
    text-align: center;
}